/*
 * Font Custom: SCSS
 */

@font-face {
  font-family: "sparkler";
  src: font-url("sparkler.eot");
  src: font-url("sparkler.eot?#iefix") format("embedded-opentype"),
       font-url("sparkler.woff") format("woff"),
       font-url("sparkler.ttf") format("truetype"),
       font-url("sparkler.svg#sparkler") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sparkler";
    src: font-url("sparkler.svg#sparkler") format("svg");
  }
}

@mixin sparkler-icon {
    display: inline-block;
  font-family: "sparkler";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%sparkler-icon {
  @include sparkler-icon;
}

[data-icon]:before {
  @extend %sparkler-icon;
  content: attr(data-icon);
}


@mixin icon-calendar {
  content: "\f103";
}

%icon-calendar {
  @include icon-calendar;
}

.icon-calendar {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-calendar;
  }
}


@mixin icon-cap-height {
  content: "\f10c";
}

%icon-cap-height {
  @include icon-cap-height;
}

.icon-cap-height {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-cap-height;
  }
}


@mixin icon-checkbox {
  content: "\f104";
}

%icon-checkbox {
  @include icon-checkbox;
}

.icon-checkbox {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-checkbox;
  }
}


@mixin icon-email {
  content: "\f105";
}

%icon-email {
  @include icon-email;
}

.icon-email {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-email;
  }
}


@mixin icon-input-baseline {
  content: "\f102";
}

%icon-input-baseline {
  @include icon-input-baseline;
}

.icon-input-baseline {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-input-baseline;
  }
}


@mixin icon-input-text {
  content: "\f101";
}

%icon-input-text {
  @include icon-input-text;
}

.icon-input-text {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-input-text;
  }
}


@mixin icon-number-input {
  content: "\f106";
}

%icon-number-input {
  @include icon-number-input;
}

.icon-number-input {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-number-input;
  }
}


@mixin icon-only-input {
  content: "\f10b";
}

%icon-only-input {
  @include icon-only-input;
}

.icon-only-input {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-only-input;
  }
}


@mixin icon-phone {
  content: "\f107";
}

%icon-phone {
  @include icon-phone;
}

.icon-phone {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-phone;
  }
}


@mixin icon-radio {
  content: "\f108";
}

%icon-radio {
  @include icon-radio;
}

.icon-radio {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-radio;
  }
}


@mixin icon-select {
  content: "\f109";
}

%icon-select {
  @include icon-select;
}

.icon-select {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-select;
  }
}


@mixin icon-text-area {
  content: "\f10a";
}

%icon-text-area {
  @include icon-text-area;
}

.icon-text-area {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-text-area;
  }
}


@mixin icon-text-input {
  content: "\f100";
}

%icon-text-input {
  @include icon-text-input;
}

.icon-text-input {
  &:before {
    @extend %sparkler-icon;
    @extend %icon-text-input;
  }
}

