/*
 * Font Custom: SCSS
 */

@font-face {
  font-family: "sparklets";
  src: font-url("sparklets.eot");
  src: font-url("sparklets.eot?#iefix") format("embedded-opentype"),
       font-url("sparklets.woff") format("woff"),
       font-url("sparklets.ttf") format("truetype"),
       font-url("sparklets.svg#sparklets") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sparklets";
    src: font-url("sparklets.svg#sparklets") format("svg");
  }
}

@mixin sparklets-icon {
    display: inline-block;
  font-family: "sparklets";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%sparklets-icon {
  @include sparklets-icon;
}

[data-icon]:before {
  @extend %sparklets-icon;
  content: attr(data-icon);
}


@mixin icon-align-justify {
  content: "\f133";
}

%icon-align-justify {
  @include icon-align-justify;
}

.icon-align-justify {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-align-justify;
  }
}


@mixin icon-arrow-back {
  content: "\f100";
}

%icon-arrow-back {
  @include icon-arrow-back;
}

.icon-arrow-back {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-back;
  }
}


@mixin icon-arrow-down {
  content: "\f101";
}

%icon-arrow-down {
  @include icon-arrow-down;
}

.icon-arrow-down {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-down;
  }
}


@mixin icon-arrow-forward {
  content: "\f134";
}

%icon-arrow-forward {
  @include icon-arrow-forward;
}

.icon-arrow-forward {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-forward;
  }
}


@mixin icon-arrow-future {
  content: "\f102";
}

%icon-arrow-future {
  @include icon-arrow-future;
}

.icon-arrow-future {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-future;
  }
}


@mixin icon-arrow-obtuse-down {
  content: "\f135";
}

%icon-arrow-obtuse-down {
  @include icon-arrow-obtuse-down;
}

.icon-arrow-obtuse-down {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-obtuse-down;
  }
}


@mixin icon-arrow-obtuse-left {
  content: "\f136";
}

%icon-arrow-obtuse-left {
  @include icon-arrow-obtuse-left;
}

.icon-arrow-obtuse-left {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-obtuse-left;
  }
}


@mixin icon-arrow-obtuse-right {
  content: "\f137";
}

%icon-arrow-obtuse-right {
  @include icon-arrow-obtuse-right;
}

.icon-arrow-obtuse-right {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-obtuse-right;
  }
}


@mixin icon-arrow-obtuse-up {
  content: "\f138";
}

%icon-arrow-obtuse-up {
  @include icon-arrow-obtuse-up;
}

.icon-arrow-obtuse-up {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-obtuse-up;
  }
}


@mixin icon-arrow-past {
  content: "\f103";
}

%icon-arrow-past {
  @include icon-arrow-past;
}

.icon-arrow-past {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-past;
  }
}


@mixin icon-arrow-up {
  content: "\f104";
}

%icon-arrow-up {
  @include icon-arrow-up;
}

.icon-arrow-up {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-up;
  }
}


@mixin icon-bullet-list {
  content: "\f139";
}

%icon-bullet-list {
  @include icon-bullet-list;
}

.icon-bullet-list {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-bullet-list;
  }
}


@mixin icon-careerpost {
  content: "\f105";
}

%icon-careerpost {
  @include icon-careerpost;
}

.icon-careerpost {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-careerpost;
  }
}


@mixin icon-checkmark {
  content: "\f13a";
}

%icon-checkmark {
  @include icon-checkmark;
}

.icon-checkmark {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-checkmark;
  }
}


@mixin icon-chevron-down {
  content: "\f13b";
}

%icon-chevron-down {
  @include icon-chevron-down;
}

.icon-chevron-down {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-chevron-down;
  }
}


@mixin icon-chevron-left {
  content: "\f106";
}

%icon-chevron-left {
  @include icon-chevron-left;
}

.icon-chevron-left {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-chevron-left;
  }
}


@mixin icon-chevron-right {
  content: "\f107";
}

%icon-chevron-right {
  @include icon-chevron-right;
}

.icon-chevron-right {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-chevron-right;
  }
}


@mixin icon-chevron-up {
  content: "\f132";
}

%icon-chevron-up {
  @include icon-chevron-up;
}

.icon-chevron-up {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-chevron-up;
  }
}


@mixin icon-connect-emailclosed {
  content: "\f108";
}

%icon-connect-emailclosed {
  @include icon-connect-emailclosed;
}

.icon-connect-emailclosed {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-emailclosed;
  }
}


@mixin icon-connect-facebook {
  content: "\f109";
}

%icon-connect-facebook {
  @include icon-connect-facebook;
}

.icon-connect-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-facebook;
  }
}


@mixin icon-connect-googleplus {
  content: "\f10a";
}

%icon-connect-googleplus {
  @include icon-connect-googleplus;
}

.icon-connect-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-googleplus;
  }
}


@mixin icon-connect-instagram {
  content: "\f142";
}

%icon-connect-instagram {
  @include icon-connect-instagram;
}

.icon-connect-instagram {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-instagram;
  }
}


@mixin icon-connect-mailinglist {
  content: "\f10b";
}

%icon-connect-mailinglist {
  @include icon-connect-mailinglist;
}

.icon-connect-mailinglist {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-mailinglist;
  }
}


@mixin icon-connect-pinterest {
  content: "\f143";
}

%icon-connect-pinterest {
  @include icon-connect-pinterest;
}

.icon-connect-pinterest {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-pinterest;
  }
}


@mixin icon-connect-twitter {
  content: "\f10c";
}

%icon-connect-twitter {
  @include icon-connect-twitter;
}

.icon-connect-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-twitter;
  }
}


@mixin icon-connect-youtube {
  content: "\f10d";
}

%icon-connect-youtube {
  @include icon-connect-youtube;
}

.icon-connect-youtube {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-youtube;
  }
}


@mixin icon-cost {
  content: "\f13c";
}

%icon-cost {
  @include icon-cost;
}

.icon-cost {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-cost;
  }
}


@mixin icon-date {
  content: "\f13d";
}

%icon-date {
  @include icon-date;
}

.icon-date {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-date;
  }
}


@mixin icon-directions {
  content: "\f10e";
}

%icon-directions {
  @include icon-directions;
}

.icon-directions {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-directions;
  }
}


@mixin icon-event {
  content: "\f10f";
}

%icon-event {
  @include icon-event;
}

.icon-event {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-event;
  }
}


@mixin icon-filter {
  content: "\f110";
}

%icon-filter {
  @include icon-filter;
}

.icon-filter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-filter;
  }
}


@mixin icon-gear-preferences {
  content: "\f111";
}

%icon-gear-preferences {
  @include icon-gear-preferences;
}

.icon-gear-preferences {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-gear-preferences;
  }
}


@mixin icon-give {
  content: "\f112";
}

%icon-give {
  @include icon-give;
}

.icon-give {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-give;
  }
}


@mixin icon-gps {
  content: "\f113";
}

%icon-gps {
  @include icon-gps;
}

.icon-gps {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-gps;
  }
}


@mixin icon-healtharticle {
  content: "\f114";
}

%icon-healtharticle {
  @include icon-healtharticle;
}

.icon-healtharticle {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-healtharticle;
  }
}


@mixin icon-large-email {
  content: "\f115";
}

%icon-large-email {
  @include icon-large-email;
}

.icon-large-email {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-email;
  }
}


@mixin icon-large-facebook {
  content: "\f116";
}

%icon-large-facebook {
  @include icon-large-facebook;
}

.icon-large-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-facebook;
  }
}


@mixin icon-large-googleplus {
  content: "\f117";
}

%icon-large-googleplus {
  @include icon-large-googleplus;
}

.icon-large-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-googleplus;
  }
}


@mixin icon-large-more {
  content: "\f118";
}

%icon-large-more {
  @include icon-large-more;
}

.icon-large-more {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-more;
  }
}


@mixin icon-large-twitter {
  content: "\f119";
}

%icon-large-twitter {
  @include icon-large-twitter;
}

.icon-large-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-twitter;
  }
}


@mixin icon-location {
  content: "\f11a";
}

%icon-location {
  @include icon-location;
}

.icon-location {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-location;
  }
}


@mixin icon-location-arrow {
  content: "\f13e";
}

%icon-location-arrow {
  @include icon-location-arrow;
}

.icon-location-arrow {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-location-arrow;
  }
}


@mixin icon-map {
  content: "\f11b";
}

%icon-map {
  @include icon-map;
}

.icon-map {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-map;
  }
}


@mixin icon-map-marker {
  content: "\f13f";
}

%icon-map-marker {
  @include icon-map-marker;
}

.icon-map-marker {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-map-marker;
  }
}


@mixin icon-my-books {
  content: "\f11c";
}

%icon-my-books {
  @include icon-my-books;
}

.icon-my-books {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-my-books;
  }
}


@mixin icon-news {
  content: "\f11d";
}

%icon-news {
  @include icon-news;
}

.icon-news {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-news;
  }
}


@mixin icon-pay-bill {
  content: "\f11e";
}

%icon-pay-bill {
  @include icon-pay-bill;
}

.icon-pay-bill {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-pay-bill;
  }
}


@mixin icon-person {
  content: "\f11f";
}

%icon-person {
  @include icon-person;
}

.icon-person {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-person;
  }
}


@mixin icon-phone {
  content: "\f120";
}

%icon-phone {
  @include icon-phone;
}

.icon-phone {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-phone;
  }
}


@mixin icon-physicians {
  content: "\f121";
}

%icon-physicians {
  @include icon-physicians;
}

.icon-physicians {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-physicians;
  }
}


@mixin icon-scripps-logo {
  content: "\f122";
}

%icon-scripps-logo {
  @include icon-scripps-logo;
}

.icon-scripps-logo {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-scripps-logo;
  }
}


@mixin icon-search {
  content: "\f123";
}

%icon-search {
  @include icon-search;
}

.icon-search {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-search;
  }
}


@mixin icon-service {
  content: "\f124";
}

%icon-service {
  @include icon-service;
}

.icon-service {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-service;
  }
}


@mixin icon-small-cost {
  content: "\f125";
}

%icon-small-cost {
  @include icon-small-cost;
}

.icon-small-cost {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-cost;
  }
}


@mixin icon-small-date {
  content: "\f126";
}

%icon-small-date {
  @include icon-small-date;
}

.icon-small-date {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-date;
  }
}


@mixin icon-small-email {
  content: "\f127";
}

%icon-small-email {
  @include icon-small-email;
}

.icon-small-email {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-email;
  }
}


@mixin icon-small-facebook {
  content: "\f128";
}

%icon-small-facebook {
  @include icon-small-facebook;
}

.icon-small-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-facebook;
  }
}


@mixin icon-small-googleplus {
  content: "\f129";
}

%icon-small-googleplus {
  @include icon-small-googleplus;
}

.icon-small-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-googleplus;
  }
}


@mixin icon-small-more {
  content: "\f12a";
}

%icon-small-more {
  @include icon-small-more;
}

.icon-small-more {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-more;
  }
}


@mixin icon-small-new {
  content: "\f12b";
}

%icon-small-new {
  @include icon-small-new;
}

.icon-small-new {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-new;
  }
}


@mixin icon-small-pinterest {
  content: "\f12c";
}

%icon-small-pinterest {
  @include icon-small-pinterest;
}

.icon-small-pinterest {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-pinterest;
  }
}


@mixin icon-small-time {
  content: "\f12d";
}

%icon-small-time {
  @include icon-small-time;
}

.icon-small-time {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-time;
  }
}


@mixin icon-small-twitter {
  content: "\f12e";
}

%icon-small-twitter {
  @include icon-small-twitter;
}

.icon-small-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-twitter;
  }
}


@mixin icon-small-video {
  content: "\f12f";
}

%icon-small-video {
  @include icon-small-video;
}

.icon-small-video {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-video;
  }
}


@mixin icon-social-thumbsup {
  content: "\f130";
}

%icon-social-thumbsup {
  @include icon-social-thumbsup;
}

.icon-social-thumbsup {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-social-thumbsup;
  }
}


@mixin icon-time {
  content: "\f140";
}

%icon-time {
  @include icon-time;
}

.icon-time {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-time;
  }
}


@mixin icon-trial {
  content: "\f131";
}

%icon-trial {
  @include icon-trial;
}

.icon-trial {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-trial;
  }
}


@mixin icon-video-camera {
  content: "\f141";
}

%icon-video-camera {
  @include icon-video-camera;
}

.icon-video-camera {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-video-camera;
  }
}

